
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #eee;

}

#calc {
	margin: 50px auto 0 auto;
	width: 380px;
	height: 460px;
	background-color: #555;
	padding: 15px;
	border-radius: 10px;
	user-select: none;
}

#screen {
	width: 350px;
	height: 80px;
	background-color: #FF8C08;
	margin-bottom: 14px;
	overflow: hidden;
}

#screen > p {
	color: #111;
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
	padding-right: 20px;
	/* border: 1px solid black; */
}

#screen > p#small {
	height: 20px;
	font-size: 20px;
	line-height: 20px;
}

#screen > p#large {
	font-size: 60px;
	line-height: 60px;
}

#keyboard {
	width: 350px;
	height: 350px;
	/* position: relative; */
	/* border: 1px solid white;	 */
}

.btn {
	background-color: #eee;
	border: 0;
	width: 80px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	margin: 0 5px 5px 0;
	font-size: 1.6em;
	display: inline-block;
	cursor: pointer;
	border-radius: 4px;

}

#keyboard .btn:nth-child(4n){
	margin-right: 0;
}

#btn-plus, #btn-minus, #btn-times, #btn-divide, #btn-c, #btn-equals {
	background-color: #ccc;
}

#keyboard .btn:hover {
	background-color: #333;
	color: #fff;
}

#keyboard .btn:active {
	color: #FF8C08;
	/* color: #000; */
	position: relative;
	top: 1px;
	left: 1px;
}




